.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.Login-ContentWrapper {
    margin-top: -64px;
    height: 31vh;
    width: 68%;
    max-width: 400px;
}


.Login-Form {
    padding: 16px;
}