.PatientList {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 24px 16px;
}


.PatientList-Content {
    font-size: 18px;
}

.PatientList-DepartAt {
    margin-bottom: 8px;
}

.PatientList-Appointment {
    margin-bottom: 0;
}


.PatientList-Icons {
    display: flex;
    flex-direction: column;
    width: 32px;
    justify-content: space-around;
}


.PatientList-Link {
    color: currentColor;
    text-decoration: none;
    width: 100%;
}


.PatientList-Link:visited {
    color: currentColor;
}