

.PatientDetail {
  padding: 0 16px;
}

.PatientDetail-ImageWrapper {
  height: 200px;
  overflow: hidden;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 16px;
}

.PatientDetail-ImageWrapper img {
  width: 100%;
}

.PatientDetail-Name {
  margin-bottom: 4px;
}

.PatientDetail-Address p {
  margin-bottom: 4px;
}


.PatientDetail-Card {
  margin-bottom: 32px;
}