
.CADLocation-GetAddress--Map {
  height: 31.8vh;
  background: darkgrey;
}


.CADLocation-GetAddress--Marker {
  width: 10px;
  height: 10px;
  background: #f0f;
  border-radius: 50%;
}


.CADLocation-Map {
  height: calc(60vh - 37px);
}


.CADLocation-InputWrapper {
  height: calc(40vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CADLocation-Action {
  margin-bottom: 16px;
}