.NavBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 8px 0;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1)
}

.NavItem {
    width : 10%;
    line-height: 0;
}

.NavItem svg {
    fill: lightgray;
}

.NavItem.active svg {
    fill: #000
}