.Tab {
  width: 100%;
  height: 64px;
  background: #fff;
  position: absolute;
  display: flex;
}

.Tab-Wrapper {
  height: 64px;
  margin-bottom: 32px;
}


.Tab-Item {
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.Tab-Item:focus {
  outline: none;
}


.Tab-Item--active {
  border-bottom: 1px solid var(--app-color)
}

.SubTab {
  margin-top: -32px;
}