.Symptoms--Drawer {
  width: 80vw;
  height: calc(100vh - 101px);
  position: fixed;
  top: 64px;
  right: 0;
  background: #fff;
  transform: translateX(0);
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}


.Symptoms--Drawer.hidden {
  transform: translateX(80vw);
}


.Symptoms-Icon-Wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
}