

.AppHeader {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    transform: translateY(0);
    transition: transform 0.4s cubic-bezier(0.68, 1.1, 1, 1);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    height: 64px;
}


.AppHeader-Title {
    margin: 0;
    line-height: 64px;
    font-weight: lighter;
}


.AppHeader--hide {
    transform: translateY(-100%);
}


.Button-Close {
    background: none;
    border: none;
    font-size: 24px;
    line-height: 64px;
    margin-left: 16px;
}


.ActionHeader {
    display: flex;
    justify-content: space-between;
}

.ActionHeader-Buttons {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.ActionHeader-Buttons-Button {
   width: 32px;
   margin-left: 16px;
}