.Avatar {
    margin-bottom: 16px;
}

.Avatar--size_small {
    width: 32px;
}


.Avatar--size_medium {
    width: 48px;
}


.Avatar--size_large {
    width: 64px;
    margin-bottom: 32px;
}


.Avatar--circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    overflow: hidden;
}