*, *::before, *::after {
    box-sizing: border-box;
    margin-top: 0;
}


:root {
    --light-grey: #fafafa;
    --app-color: #3F51B5;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    background: var(--light-grey);
}


#root {
    height: 100%;
}

.noscroll {
    overflow: hidden;
}


.Button {
    color:  var(--app-color);
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
}